@import url('https://rsms.me/inter/inter.css');

html,
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root {
  --primary-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 82);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.jumbo-text {
  font-family: var(--primary-font);
  color: white;
  font-weight: 600;
  font-size: 42px;
  display: flex;
  align-items: center;
}

.description {
  font-family: var(--primary-font);
  color: rgb(149, 161, 188);
  font-weight: 400;
  margin-top: 20px;
}

.highlight {
  color: rgb(235, 110, 110);
}

.location-text {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.social-links {
  display: flex;
  margin-top: -20px;
}

.icon-link {
  padding: 20px;
}

.icon-link a {
  text-align: center;
  display: block;
  color: white;
  font-size: 30px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.icon-link a:focus,
.icon-link a:hover {
  color: rgb(228, 228, 228);
}

@media only screen and (max-width: 768px) {
  .jumbo-text {
    font-size: 32px;
  }
}